@use '../../assets/styles/colors';

$hoverColor: rgba(0, 0, 0, 0.09) !important;

.sidebar-tree {
  color: colors.$primaryTextColor;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  li {
    margin: 1px;
  }

  .tree-item__project {
    .MuiTreeItem-content {
      transition: all .25s ease-in-out;
    }
    .MuiTreeItem-content:hover {
      background-color: $hoverColor;
    }

    #edit-step, #delete-step {
      margin-left: 5px;
      transition: color .25s ease-in-out;
    }

    #edit-step:hover{
      color: colors.$primaryColor;
    }

    #delete-step:hover{
      color: colors.$errorColor;
    }

    .MuiTreeItem-label  {
      margin-left: 10px;
    }

    .tree-item__task {
      color: colors.$secondaryTextColor;
    }

    &.selected-project {
      color: colors.$primaryColor;

      .Mui-selected {
        background-color: $hoverColor;
      }

      .Mui-expanded {
        color: colors.$primaryColor;
      }

      .tree-item__step-add {
        color: colors.$textColorSecondaryLight;
        transition: all .25s ease-in-out;

        &:hover {
          color: colors.$primaryColor;
          background-color: colors.$textColorSecondaryLight;
        }
      }
    }
  }
}
