@use '../../../assets/styles/colors';
@use '../../../assets/styles/constants';

$leftMargin: 10px;
$avatarSize: 40px;

.navbar-root {
  background-color: colors.$secondaryColor;
  @media (min-width: constants.$MediaMinWidth) {
    width: calc(100% - #{constants.$SidebarWidth});
    left: constants.$SidebarWidth;
  }
  .label {
    @media (max-width: constants.$MediaMinWidth) {
      display: none;
    }
  }
  .search-box {
    padding-left: 20px;
    width: 100%;
    .MuiTextField-root {
      width: 100%;
      .MuiInputBase-input.MuiInput-input {
        color: colors.$textColor;
        font-size: 20px;
        padding: 0 0 0 5px;

        margin-bottom: 2px;
      }
      .MuiInput-underline {
        &::after, &::before, &:hover:not(.Mui-disabled):before {
          border: 0;
        }
      }
    }
    svg {
      width: 30px;
      height: 30px;
    }
  }
  .top-avatar {
    cursor: pointer;
    height: $avatarSize;
    width: $avatarSize;
    margin-left: $leftMargin;
  }
  .search-button {
    margin-left: $leftMargin;
  }
  .navbar-badge {
    .MuiBadge-badge {
      background-color: colors.$bgColor;
    }
    color: colors.$primaryColor;
  }
  .navbar-icon {
    color: colors.$iconColor;
  }
}
