@use '../../assets/styles/colors';
.users-list-container {
  max-height: 320px;
  overflow-y: auto;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  .users-list-item {
    animation: opacityAnimation .3s both;
    border-radius: 2px;
    margin-bottom: 5px;
    flex-basis: 100%;
    background-color: colors.$secondaryColor;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .info {
      flex-basis: 100%;
      display: flex;
      align-items: center;
      span {
        margin-left: 15px;
      }
    }
    .actions {
      flex-basis: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      margin-left: 25px;
      align-items: center;
      .MuiInputBase-root {
        margin-left: 15px;
        margin-top: 5px;
        min-width: 150px;
        padding-left: 15px;
        color: colors.$textColor;
        .MuiSvgIcon-root {
          color: colors.$textColor;
        }
      }
      svg {
        margin-left: 15px;
        cursor: pointer;
      }
    }
    @media screen and (max-width: 768px) {
      padding: 10px 10px;
      .actions {
        justify-content: flex-end;
        .MuiInputBase-root {
          margin-bottom: 10px;
          flex-basis:  100%;
        }
      }
    }
  }
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}