@use '../../assets/styles/colors';

.project-container {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .project-header {
    box-shadow: 0 0 1em colors.$secondaryColor;
    margin-top: 40px;
    margin-bottom: 15px;
    padding: 20px;
    background-color: colors.$secondaryColor;
    flex-basis: 95%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    flex-wrap: wrap;
    .btn-project {
      min-width: 100px;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      svg {
        margin-right: 5px;
      }
    }
    .info {
      flex-basis: 90%;
      display: flex;
      flex-wrap: wrap;
      h1, h3, p {
        margin: 0;
        padding: 0;
      }
      h1 {
        flex-basis: 100%;
        font-weight: 900;
        font-style: oblique;
        margin-bottom: 15px;
      }
      p {
        color: colors.$textColor;
        font-size: 14px;
        margin-bottom: 7px;
      }
      h3 {
        font-weight: lighter;
      }
      .info-item {
        flex-basis: 15%;
        min-width: 140px;
        margin-bottom: 15px;
      }
      .info-item:last-of-type {
        flex-basis: 25%;
      }
    }
    .circle {
      flex-basis: 10%;
      max-width: 75px;
      max-height: 75px;
      margin: auto 0;
    }
    @media screen and (max-width: 768px) {
      .info {
        flex-basis: 85%;
      }
      .circle {
        flex-basis: 15%;
      }
    }
    @media screen and (max-width: 600px) {
      padding: 20px;
      .info {
        flex-basis: 100%;
        h1 {
          margin-right: 50px;
        }
        .info-item {
          min-width: 0;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-end;
          p {
            flex-basis: 100%;
          }
        }
        .info-item:nth-of-type(1),
        .info-item:nth-of-type(2),
        .info-item:nth-of-type(4),
        .info-item:nth-of-type(5)
        {
          flex-basis: 45%;
          padding-right: 15px;
        }
        .info-item:nth-of-type(3),
        .info-item:nth-of-type(6)
        {
          flex-basis: 100%;
        }
      }
      position: relative;
      .circle {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
      }
    }
  }

  .project-tasks {
    box-shadow: 0 0 1em colors.$secondaryColor;
    padding: 15px 15px 50px 15px;
    background-color: colors.$secondaryColor;
    flex-basis: 95%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}