@use '../../assets/styles/colors';
@use '../../layouts/DashboardLayout/constants';

$leftMargin: 10px;
$avatarSize: 40px;

.navbar-root  {
  background-color: colors.$secondaryColor;
  @media (min-width: constants.$MediaMinWidth) {
    width: calc(100% - #{constants.$SidebarWidth});
    left: constants.$SidebarWidth;
  }
  .top-avatar{
    cursor: pointer;
    height: $avatarSize;
    width: $avatarSize;
    margin-left: $leftMargin;
  }
  .search-button{
    margin-left: $leftMargin;
  }
  .navbar-badge{
    .MuiBadge-badge{
      background-color: colors.$bgColor;
    }
    color: colors.$primaryColor;
  }
  .navbar-icon {
    color: colors.$iconColor;
  }
}
