@use '../../assets/styles/colors';

.auth-container {
  height: 100%;
  .auth-form {
    background-color: colors.$bgColor;
    height: 100%;
    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: space-around;
      .text {
        flex-basis: 80%;
        text-align: center;

        h1, h3 {
          padding: 0;
          margin: 0;
        }

        h1 {
          color: #fff;
          font-size: 52px;
        }

        h3 {
          color: colors.$textColor;
          font-weight: 200;
          font-size: 26px;
        }
      }
      .form {
        flex-basis: 80%;

        input, button {
          width: 100%;
        }

        button {
          margin-top: 30px;
          margin-bottom: 15px;
        }

        p {
          margin: 0;
        }

        p.new-account {
          width: 100%;
          color: colors.$textColor;
        }
      }
    }
  }
  .auth-img {
    background-image: url('../../assets/images/auth-img.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .icon {
    color: white;
    cursor: pointer;
  }
}