@use '../../assets/styles/colors';
.custom-input {
  label {
    display: block;
    margin-bottom: 10px;
  }
  .MuiTextField-root {
    height: 77px;
    width: 100%;
    .Mui-error {
      input {
        border: 2px solid rgba(colors.$errorColor, 0.25);
      }
    }
    .MuiInputBase-input.MuiInput-input {
      color: colors.$textColor;
      background-color: colors.$secondaryColor;
      height: 52px;
      padding: 0 0 0 20px;
      &:focus-visible {
        outline: -webkit-focus-ring-color auto 1px;
      }
      margin-bottom: 2px;
    }
    .MuiInput-underline {
      &::after, &::before, &:hover:not(.Mui-disabled):before {
        border: 0;
      }
    }
  }
}