@use '../../assets/styles/colors';

.forgot-password {
  text-align: right;
  span {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    color: colors.$textColor;
    &:hover {
      opacity: 1;
    }
  }
}
.new-account {
  text-align: center;
  b {
    color: colors.$primaryColor;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}