.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .card-item {
    $size: 300px;
    $margin: 10px;
    background-color: darkgrey;
    margin: $margin;
    height: $size;
    width: $size;
  }
}
