$primaryColor: rgb(255, 153, 0);
$bgColor: rgba(41, 41, 41, 255);
$secondaryColor: rgb(30, 30, 30);
$textColor: #7b7a7a;
$textColorLight: rgb(180, 180, 180);
$inputcolorDark: rgb(25, 25, 25);
$errorColor: #ff4343;
$iconColor: #fcf4de;
$green: #2fbe16;
$red: #f67272;
