@use '../../assets/styles/colors';

.btn-primary {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 153, 0);
  height: 56px;
  border: 0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}