@use '../../assets/styles/colors';

.btn-primary {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 153, 0);
  height: 56px;
  border: 0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btn-project {
  font-weight: bold;
  background-color: colors.$primaryColor;
  border-radius: 15px;
  padding: 7px 10px;
  margin: 10px 0;
  border: none;
  color: white;
  transition-duration: 300ms;
  cursor: pointer;

  :active {
    border: none;
  }

  &:hover {
    background-color: colors.$primaryColor;
  }
}

.btn-success {
  border: 0;
  color: #fff;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-weight: 900;
  height: 56px;
  min-width: 100px;
  background-color: colors.$primaryColor;
  transition: opacity 300ms;
  opacity: 0.85;
  &:hover {
    opacity: 1;
  }
}

.btn-go-back {
  border: 0;
  color: #fff;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-weight: 900;
  height: 56px;
  min-width: 100px;
  background-color: colors.$red;
  transition: opacity 300ms;
  opacity: 0.85;
  &:hover {
    opacity: 1;
  }
}