@use '../../assets/styles/colors';
.subtask-item {
  animation: opacityAnimation 0.3s both;
  border-radius: 2px;
  flex-basis: 100%;
  background-color: colors.$secondaryColor;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .task-name-container {
    display: flex;
    align-items: center;
    flex-basis: 75%;
    user-select: none;
    .custom-input {
      input:read-only {
        pointer-events: none;
      }
      margin-left: 15px;
      overflow-wrap: anywhere;
      flex-basis: 95%;
      .MuiTextField-root {
        height: 42px;
        .MuiInputBase-input.MuiInput-input {
          height: 42px;
          padding: 0 0 0 10px;
          margin-bottom: 0px;
        }
      }
    }
  }

  .buttons-container {
    padding-right: 20px;
    padding-top: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    svg {
      color: white !important;
    }
  }
}
